.more-btn {
  width: 320px;
  height: 36px;
  padding: 11px 60px 9px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: black;
  border: none;
  margin: 0 480px 80px;
  background: #F9F9F9;
  border-radius: 6px;
}

.more-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2, 1.2) ;
      -ms-transform: scale(1.2, 1.2) ;
          transform: scale(1.2, 1.2) ;
}