.profile {
  max-width: 410px;
  margin: 74px auto 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto;
}

.profile__form {
  margin: 123px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__form-field {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;

}

.profile__form-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.profile__form-edit {
  color: #2be080;
  margin: 220px auto 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.profile__bar {
  border: 1px solid #E8E8E8;
  margin: 16px 0;
}

.profile__form-caption {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  width: 141px;
  margin: 0;
  padding: 0;
}

.profile__input {
  font-size: 11px;
  font-weight: 500;
  text-align: right;
  line-height: 13px;
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  width: 90%;
  border-radius: 3px;
}

.profile__input:focus {
  outline: 2px solid #FF6838;
}

.profile__edit-btn {
  background-color: transparent;
  color: #000;
  border: none;
  margin: 16px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.profile__exit-btn {
  color: #EE3465;
  background-color: transparent;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border: none;
  text-decoration: none;
  align-self: center;
}

.profile-btn:hover {
-webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .profile {
    margin: 236px auto 269px;
  }

  .profile__form {
    margin: 96px auto 0;
  }

}

@media screen and (max-width: 767px) {
  .profile {
    margin: 70px auto 40px;
  }

  .profile__form {
    margin: 80px auto 0;
    max-width: 260px;

  }

  .profile__edit-btn {
    margin: 14px 0 14px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__exit-btn {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__form-caption {
    width: 130px;
  }

}