.about-project {
  max-width: 1280px;
  padding: 0 70px;
  margin: 0 auto;
  box-sizing: border-box;
}

.about-project__title {
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding: 110px 0 23px;
  margin: 0;
}

.about-project__description{
  list-style: none;
  display: grid;
  width: 100%;
  padding: 0;
  grid-template-columns: repeat(2, 550px);
  grid-column-gap: 40px;

  padding: 0;
  margin: 70px 0 110px;
}

.about-project__description-element {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 24px 40px;
  grid-row-gap: 26px;
}

.about-project__description-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000;
  margin: 0;
  padding: 0;
}

.about-project__description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin: 0;
  padding: 0;
}

.about-project__timeline {
  list-style: none;
  padding: 0;
  margin: 110px 0;
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 36px 17px;
  grid-row-gap: 14px;
}

.about-project__timeline-time {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.about-project__timeline-time_type_green {
  background-color: #2BE080;
}

.about-project__timeline-time_type_gray {
  background-color: #F2F2F2;
}

.about-project__timeline-caption {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A0A0A0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1279px) {
  .about-project {
    padding: 0 50px;
  }

  .about-project__title {
    padding: 90px 0 23px;
  }

  .about-project__description {
    margin: 70px 0 83px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-column-gap: 30px;
  }

  .about-project__description-element {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 48px 64px;
    grid-row-gap: 22px;
  }

  .about-project__description-title {
    width: auto;
  }

  .about-project__description-text {
    font-size: 12px;
    line-height: 18px;
    width: auto;
  }

  .about-project__timeline {
    margin: 0;
    margin-bottom: 90px;
    min-width: calc(528px + 140px);
    grid-template-columns: auto auto;
  }

  .about-project__timeline-time_type_green {
    min-width: 140px;
  }

  .about-project__timeline-time_type_gray {
    min-width: 528px;
  }
}

@media screen and (max-width: 523px)  {
  .about-project {
    padding: 0 18px;
    min-height: 641px;
  }

  .about-project__title {
    padding: 70px 0 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__description {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 56px;
    margin: 60px 0;
  }

  .about-project__description-element {
    grid-row-gap: 16px;
    grid-template-rows: 44px 48px;
    grid-template-columns: auto;
  }

  .about-project__description-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__description-text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline {
    margin-bottom: 70px;
    min-width: calc(184px + 100px);
    grid-row-gap: 10px;
    grid-template-rows: 35px 13px;
  }

  .about-project__timeline-time {
    height: 35px;
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__timeline-time_type_green {
    min-width: 100px;
  }

  .about-project__timeline-time_type_gray {
    min-width: 184px;
  }

  .about-project__timeline-caption {
    font-size: 11px;
    line-height: 13px;
  }
}