.search {
  padding: 80px 70px 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(170,170,170, .2);
}

.search__form {
  max-width: 932px;
  width: 100%;
  height: 48px;
}

.search__fieldset {
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 7px 7px 7px 22px;
}

.search__input {
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A0A0A0;
  width: 92%;
  height: 100%;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  outline: none;
}

.search__input:focus {
  border-bottom:2px solid #FF6838;
  color: #000;
}

.search__submit-button {
  background-color: #F9F9F9;
  border-radius: 48px;
  border: none;
  width: 84px;
  height: 34px;
  padding: 6px 29px;
  margin: 0;
  -webkit-transition: opacity .2 linear;
  -o-transition: opacity .2 linear;
  transition: opacity .2 linear;
}

.search__submit-button_type_active {
  background-color: #FF6838;
}

.search__submit-button_type_active:hover {
  opacity: .8;
  cursor: pointer;
  border: 2px solid #2BE080;
}

.shorts-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: calc(117px + 14px + 36px);
}

.shorts-movies__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-right: 14px;
}

.shorts-movies__switch {
  height: 20px;
}

.shorts-movies__checkbox {
  position: relative;
  width: 36px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 2px;
  background-color: #FF6838;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}


.shorts-movies__checkbox:checked {
  background-color: #2BE080;
}

.shorts-movies__checkbox:after {
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  top: 2px;
  left: 2px;
  content: '';
}

.shorts-movies__checkbox:checked:after {
  left: calc(100% - 18px);
}

@media screen and (max-width: 1279px) {
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 57px 0 45px;
}

.search__fieldset {
  padding: 7px 7px 7px 17px;
}

.shorts-movies {
  margin-top: 26px;
}
}

@media screen and (max-width: 767px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 57px 0 33px;
  }

  .search__fieldset {
    padding: 7px 7px 7px 17px;
  }

  .search__input {
    font-size: 11px;
    line-height: 18px;
  }

  .shorts-movies {
    margin-top: 35px;
  }

  .shorts-movies__text {
    font-size: 11px;
    line-height: 18px;
  }
}