.portfolio {
  width: 100%;
  max-width: 1280px;
  padding: 0 70px;
  margin: 0 auto;
  box-sizing: border-box;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  padding: 0;
  margin: 0;
}

.portfolio__links {
  list-style: none;
  padding: 0;
  margin: 50px 0 125px;
}

.portfolio__links-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  margin-top: 21px;
  padding-bottom: 18px;
}

.portfolio__links-element:last-child {
  border-bottom: none;
}

.portfolio__link-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
  padding: 0;
  margin: 0;
}

.portfolio__link {
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  text-decoration: none;
  padding: 0;
  margin: 0;
  transition: opacity .2 linear;
  color: #000;
}

.portfolio__link:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .portfolio {
    padding: 0 50px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding: 0 14px;
  }
}

