.about-me {
  max-width: 1280px;
  padding: 0 70px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-me__title {
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding: 110px 0 23px;
  margin: 0;
  width: 100%;
}

.about-me__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 66px 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me__information-text {
  width: 600px;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
  padding: 0;
  margin: 0;
}

.about-me__job {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding: 0;
  margin: 18px 0 26px;
}

.about-me__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.about-me__photo {
  border-radius: 10px;
  margin: 0;
  padding: 0;
  width: 270px;
  height: 327px;
}

.about-me__links {
  list-style: none;
  padding: 0;
  margin: 77px auto 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 46px 10px 20px;
  grid-template-columns: 46px 20px;
  grid-column-gap: 10px;
}

.about-me__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  -webkit-transition: opacity .2 linear;
  -o-transition: opacity .2 linear;
  transition: opacity .2 linear;
}

.about-me__link:hover {
  cursor: pointer;
  opacity: .7;
}

@media screen and (max-width: 1279px) {
  .about-me {
    padding: 0 50px;
  }

  .about-me__title {
    font-size: 22px;
    line-height: 27px;
    padding: 90px 0 23px;
  }

  .about-me__information {
    margin: 66px 0 90px;
  }

  .about-me__information-text {
    width: 364px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__job {
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0 20px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__links {
    margin: 51px auto 0px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
    padding: 0 14px;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    padding: 70px 0 28px;
  }


  .about-me__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 60px auto 69px;
    width: 292px;
  }

  .about-me__information-text {
    width: 100%;
  }

  .about-me__photo {
    height: 352px;
    width: 100%;
    margin-bottom: 40px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    width: 100%;
  }

  .about-me__job {
    font-size: 11px;
    line-height: 16px;
    margin: 20px 0;
    width: 100%;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    width: 100%;
  }

  .about-me__links {
    margin: 8px auto 0;
  }
}